@{
    ViewData["Title"] = "Home Page";
}





<div class="container justify-content-center pt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome Our First-Task</h1>
        <p>
            If u Wanna see our FAQ page please click the faq button up there
        </p>
    </div> 
</div>


